<!DOCTYPE html>
<html>

<head>
    <title>Topnav with sidebar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
</head>

<body>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-2" id="green">
                <h4>Menu</h4>
                <a href="/form">
                    <i class="fas fa-user-plus" style='font-size:30px'></i> &nbsp;
                    <span class="text">Add </span>
                </a>
                <br />
                <br />
                <a href="/table">
                    <i class="fas fa-list" style='font-size:30px'></i> &nbsp;
                    <span class="text">View </span>
                </a>
            </div>
            <div class="col-10" style="padding: 0;">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/">
                        <img src="../../assets/images/kgisl-logo.png" height="45" alt="MDB Logo" loading="lazy" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">

                        </div>
                    </div>
                </nav>
                <div class="container">
                    <h3>Edit</h3>
                    <form [formGroup]="searchForm" >

                        <div class="col-md-6">
                            <label class="form-label">Email ID</label><br>
                            <div class="row">
                                <div class="col-md-8">
                                    <input matInput formControlName="email" class="form-control"
                                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
                                </div>
                                <div class="col-md-4">
                                    <button mat-raised-button color="primary">Search</button>
                                </div>
                            </div>
                            <mat-error
                                *ngIf="searchForm.controls['email']?.hasError('required') && searchForm.controls['email'].touched">
                                Email is required.
                            </mat-error>
                            <mat-error *ngIf="searchForm.controls['email'].hasError('pattern')">
                                Invalid email.
                            </mat-error>
                        </div>
                    </form>
                </div>
                <div class="container">
                    <div *ngIf="!isEditMode">

                        <table *ngIf="emailData">
                            <thead class="table-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Email ID</th>
                                    <th>Mobile</th>
                                    <th>Address</th>
                                    <th>Qualification</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ emailData?.firstName }} </td>
                                    <td>{{ emailData?.email }}</td>
                                    <td>{{ emailData?.phone }}</td>
                                    <td>{{ emailData?.address }},
                                        <br>{{ emailData?.state }}, {{ emailData?.pincode }}
                                    </td>

                                    <td>{{ emailData?.degree }}
                                        <br>({{ emailData?.board }} - {{ emailData?.year }})
                                    </td>
                                    <td>
                                        <button mat-raised-button color="primary" (click)="editStudent()">
                                            <mat-icon>edit</mat-icon>Edit
                                        </button>
                                        &nbsp;
                                        <button mat-raised-button color="warn" (click)="deleteStudent()">
                                            <mat-icon>delete</mat-icon>Delete
                                        </button>
                                        &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                                    </div>

                <div *ngIf="isEditMode">
                    <form (ngSubmit)="saveChanges()">
                        <input [(ngModel)]="editableData.firstName" name="firstName" />
                        <button type="submit" mat-raised-button color="primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>