.sidebar-sticky {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/images/bg.jpg");
    }
.formContainer {
    margin: 50px 75px;
}
.mat-tab-group {
    background-color: black;
}
.container {
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    height: 88%;
    width: 100%;
    align-items: center;
}
.button-container {
    text-align: center;
}
/* .mat-raised-button {
    margin: 15px;
} */

.half-page-container {
    /* display: flex; */
    margin-top: 10px;
    margin-left: 15%;
    justify-content: center;

}

.half-page-card {
    align-items: center;
    justify-content: center;
    width: 30%;

}
#green {
    height: 100%;
    background: linear-gradient(to bottom, black, grey);

    text-align: center;
    color: white;
    padding: 15px;
}

.navbar {
    background: linear-gradient(to right, black, grey);

}


a {
    color: #0074D9;
    text-decoration: none;
}

a:hover {
    color: white;
   
}

.mat-mdc-tab-body {
    overflow: hidden;
}

label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
